form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: left;
padding:15px;

}
form input{
    padding: 15px 25px;
    
    text-align: center;
    
    
    padding: 5px,8px;
    border-radius: 15px;
    margin:4px 2px;
}
form input[type="submit"]{
    background-color: rgb(28, 233, 124);
    cursor: pointer;
    border: none;
    border-radius: 15px;
}
form input[type="button"]{
    background-color: rgb(233, 28, 165);
    cursor: pointer;
    border: none;
    border-radius: 15px;
}
h1{
    color:#13b2da;
    

    
    
}
label{
    color:#1b1927
}